
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\00003123}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/node_modules\/grunt-contrib-stylus\/node_modules\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/node_modules\/grunt-contrib-stylus\/node_modules\/stylus\/lib\/functions\/index\.styl}line{font-family:\00003286}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/index\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/index\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/index\.styl}line{font-family:\0000314}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/index\.styl}line{font-family:\0000314}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/border\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/border\.styl}line{font-family:\0000310}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/clearfix\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/clearfix\.styl}line{font-family:\0000328}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/color-image\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/color-image\.styl}line{font-family:\000034}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/flex\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/flex\.styl}line{font-family:\00003196}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/gradients\.styl}line{font-family:\0000390}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/gradients\.styl}line{font-family:\0000390}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/config\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/config\.styl}line{font-family:\0000311}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/iconic\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/iconic\.styl}line{font-family:\000037}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/image\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/image\.styl}line{font-family:\0000325}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/index\.styl}line{font-family:\0000319}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/index\.styl}line{font-family:\0000319}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/base\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/base\.styl}line{font-family:\000038}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/html5\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/html5\.styl}line{font-family:\0000319}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/links\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/links\.styl}line{font-family:\000036}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/text\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/text\.styl}line{font-family:\0000330}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/embed\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/embed\.styl}line{font-family:\000037}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/groups\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/groups\.styl}line{font-family:\0000317}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/forms\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/forms\.styl}line{font-family:\0000369}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/tables\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/normalize\/tables\.styl}line{font-family:\000037}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/overflow\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/overflow\.styl}line{font-family:\0000320}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/positions\.styl}line{font-family:\000033}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/positions\.styl}line{font-family:\0000366}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/reset\.styl}line{font-family:\000033}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000378}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/text\/index\.styl}line{font-family:\000035}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/text\/index\.styl}line{font-family:\000035}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/text\/aliases\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/text\/aliases\.styl}line{font-family:\0000312}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/text\/ellipsis\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/text\/ellipsis\.styl}line{font-family:\000039}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/text\/hide-text\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/text\/hide-text\.styl}line{font-family:\000038}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/text\/replace-text\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/text\/replace-text\.styl}line{font-family:\000039}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/text\/shadow-stroke\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/text\/shadow-stroke\.styl}line{font-family:\000032}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/vendor\.styl}line{font-family:\00003541}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/vendor\.styl}line{font-family:\0000311}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/config\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/config\.styl}line{font-family:\00003577}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/size\.styl}line{font-family:\000031}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/reset\.styl}line{font-family:\000034}}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000314}}
body{line-height:1;color:#000;background:#fff}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000316}}
ol,ul{list-style:none}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000318}}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000320}}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/nib\/lib\/nib\/reset\.styl}line{font-family:\0000322}}
a img{border:none}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000356}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000358}}
body .container{margin:0 auto;max-width:1024px;}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000318}}
body .container:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000361}}
body #header{background-color:#ea2424;color:#fff;height:60px;line-height:60px;}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000367}}
body #header .container{background:rgba(0,0,0,0.2)}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000370}}
body #main-wrapper{background-color:#eee;margin:20px 0;}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000374}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000376}}
body #main-wrapper .headline .call{font-size:30px;padding:20px 0;text-align:center}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000381}}
body #main-wrapper .description{margin:20px 0;}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000384}}
body #main-wrapper .description .title,body #main-wrapper .description .subtitle{text-align:center}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000388}}
body #main-wrapper .description .steps{margin:20px 0}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000391}}
body #main-wrapper .example{margin:20px 0;}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000394}}

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\0000396}}
body #main-wrapper .example .container .title,body #main-wrapper .example .container .subtitle{text-align:center}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\00003100}}
body #main-wrapper .example .container .layout{margin:20px 0;}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\00003103}}
body #main-wrapper .example .container .layout .col-left{float:left;max-width:17.578125%;margin-right:1.953125%}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\00003106}}
body #main-wrapper .example .container .layout .col-right{float:left;max-width:78.515625%;margin-right:0}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\00003109}}
body #main-wrapper .example .container .code{clear:both;margin:20px 0;}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\00003113}}
body #main-wrapper .example .container .code .styl{float:left;max-width:46.09375%;margin-right:1.953125%}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\00003116}}
body #main-wrapper .example .container .code .css{float:left;max-width:48.046875%;margin-right:0}
@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/6d\/Documents\/Frango\/responsa\/assets\/css\/app\.styl}line{font-family:\00003119}}
body #footer{background-color:#ececec;clear:both;height:30px;line-height:30px}